include config
block vars
include mixins

html(lang='fr')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name='description', content=documentDesc)
    title #{documentTitle}

    link(rel='stylesheet', href=pathCss)
    block CSS

  body(class=bodyClass)
    include layouts/_navbars
    include layouts/_header


    //------------------------------------*\
        $ PAGES
    //------------------------------------*/
    main(role="main")
      block main


    include layouts/_footer   
    //------------------------------------*\
        $ SCRIPTS
    //------------------------------------*/
    script(src='../node_modules/jquery/dist/jquery.min.js')
    script(src=pathJs)
    block JS
